main {
  background: #f3f4f6;
  grid-area: main;
  overflow-y: auto;
  width: 100%;
}

.main__container {
  padding: 20px 35px;
}

.main__title {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.main__title > img {
  max-height: 100px;
  object-fit: contain;
  margin-right: 20px;
}

.main__greeting > h1 {
  font-size: 24px;
  color: #2e4a66;
  margin-bottom: 5px;
  margin-left: 30px;
}

.main__greeting > p {
  font-size: 14px;
  font-weight: 700;
  color: #a5aaad;
  margin-left: 30px;
}

.main__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin: 20px 0;
}

.analytics_card {
  display: flex;
  flex-direction: column;
  height: vw;
  width: 20vw;
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 10px;
  background: #ffffff;
  margin-left: 15px;
  box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}

.analytics_card_leftmost {
  display: flex;
  flex-direction: column;
  height: vw;
  width: 20vw;
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 10px;
  background: #ffffff;
  margin-left: 30px;
  box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}

.card_inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.card_inner > span {
  font-size: 25px;
}

@media only screen and (max-width: 855px) {
  .main__cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}

.card__title__text {
  font-size: 1vw;
}

.card__info__text {
  font-size: 3vw;
}

.change {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.change__text {
  font-size: 1.2vw;
  padding-top: 12px;
  padding-left: 10px;
}

.section_title_ao {
  margin-top: 2.5vw;
  margin-bottom: 1.2vw;
  font-size: 2vw;
  margin-left: 30px;
}

.section_title_ut {
  margin-top: 5vw;
  margin-bottom: 1.2vw;
  font-size: 2vw;
  margin-left: 30px;
}

.upcoming_tournaments_table {
  border: 1px solid black;
  width: 90%;
  margin-left: 30px;
}

.upcoming_tournaments_table_title_name {
  border: 1px solid black; 
  font-size: 1.5vw;
  padding-left: .35vw;
  width: 80%;
}

.upcoming_tournaments_table_title_date {
  border: 1px solid black; 
  font-size: 1.5vw;
  padding-left: .35vw;
  width: 20%;
}

.upcoming_tournaments_name {
  border: 1px solid black;
  font-size: 1.2vw;
  padding-left: .35vw;
  width:80%;
}

.upcoming_tournaments_date {
  border: 1px solid black;
  font-size: 1.2vw;
  padding-left: .35vw;
  width:20%;
}