/* Flow CSS styling */

#flowsContainer {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

#flowNavigationContainer{
    background-color: rgb(19, 27, 43);
    height: 100%;
    width: 65%;
}

#speechDocContainer{
    height: 100%;
    width: 35%;
}



