.loginWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16%;
    /* background */
    background-image:url("loginBackgroundTest.png");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.loginLabel{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.loginHeader{
    padding: 10px;    
    font-family: 'Arial';
    color: white;
}

.loginText{
    color: white;    
}

.loginButton{
    padding:18%;
    margin:20px;
}